/**/
body {
    background-color: rgb(212, 212, 212)
}

h1 {
    text-align: center;
    color: rgb(2, 2, 2);
}
.weather {
    width: 831px;/*ширина обертки*/
    margin: 0 auto;/*центрирую ее*/
    background: rgb(212, 212, 212);
    height: 315px;/*Задаю высоту обертки*/   
    display: flex;
    flex-direction: column;
    position: relative;
}

.middle-content{
    position: absolute;
}

.card__block {
    float: left; /*Задаю обтекание*/
    height: 300px;/*Высота строки +  верт. центрирования текста*/
    font-size: 40px;
    background: white;
    color: black;
    margin-top: 0px;
    width: 200px; /*Фиксирую ширину блока*/
    margin-right: 1.5px;
    text-align: center; /*Центрирую текст по горизонтали*/
    border-radius: 10%;
    -webkit-transition: background 2s ease;
    -moz-transition-delay: 2s ease;
}

.card__block:hover { /*смена цвета при наведении курсора*/
    background: rgb(122, 161, 252);
    height: 305px;
    width: 205px;
}

.slick-arrow {
    width: 50px;
    min-width: 50px;
}

.slick-prev {
    position: relative;
    top: 105px;
    left: -39px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: none;
    background: rgb(64, 120, 250);
    display: flex;
    align-items: center;
    justify-content: space-around; 
    z-index: 1;         
}

.slick-next {
    position: relative;
    top: 30px;
    right: -766px;    
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: none;
    background-color: rgb(64, 120, 250);
    display: flex;
    align-items: center;
    justify-content: space-around;   
    z-index: 1;    
}

button { 
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: none;
    padding: 30px;
    margin: 60px;
    cursor: pointer;
    background: white;
    outline: none;    
    -webkit-transition: background 1s ease;
    -moz-transition-delay: 1s ease;       
}

button:hover {
    background: rgb(172, 195, 245);
}
    


.imageLeft {
    /*Расположил изображение в центре кнопки*/
    position: relative;
    top: -5px;
    left: -7px;
}

.imageRight {
    /*Отзеркалил изображение стрелки*/
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
    filter: FlipH;
    -ms-filter: "FlipH";
    /*Расположил изображение в центре кнопки*/
    position: relative;
    top: -5px;
    left: 7px;
}
   
.day-card__dayweek{
    font-size: 15px;
    margin-top:15px;
    margin-bottom:15px;
}

.day-card__data {
    font-size: 32px;
    margin-top: -15px; 
    margin-bottom: 0px
}

.day-card__day-temperature {
    font-size:32px;
    margin-top: -15px; 
    margin-bottom: -15px
}

.day-card__night-temperature {
    font-size:18px;
    margin-top:15px;
    color:rgb(165, 165, 165)
}

   .day-card__cloudiness {
    font-size:18px;
    margin-top: 15px; 
    margin-bottom: -18px;
}

.day-card__snow{
    font-size:18px;
    margin-top:15px; 
    margin-bottom: -15px;
}

.day-card__rain{
    font-size: 18px;
    margin-top: 15px; 
    margin-top: 12px; 
}

.day-card__day-temperature__content{
    display: inline;
}

.day-card__day-temperature__value{
    display: inline;
}

.day-card__night-temperature__content{
    display: inline;
}

.day-card__night-temperature__value{
    display: inline;
}